
.DS_Store
Thumbs.db
.idea/

node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log


.env
.env.*.local


.expo/
.expo-shared/
dist/
web-build/

ios/Pods/
android/.gradle/
android/.idea/
android/local.properties
android/*.iml
android/app/build/
ios/build/

backend/dist/
backend/coverage/

